%h1 #{@user.first_name.capitalize} #{@user.last_name.capitalize}

%blockquote.contact_information
  .address{id: @user.address.name }
    %span#city
      #{@user.city}
    , 
    %span#state #{@user.state}
  #website #{@user.url}
  #email
    contact email:
    =link_to "#{@user.first_name}.#{@user.last_name} @gmail", "mailto:#{@user.contact_email}"
  #linkedin
    linkedin
    =link_to "in/#{@user.linkedin}", "http://www.linkedin.com/in/#{@user.linkedin}"
  #github
    github
    =link_to "@#{@user.github}", "http://www.github.com/#{@user.github}"
  #twitter
    twitter
    =link_to "@#{@user.twitter}", "http://www.twitter.com/#{@user.twitter}"

-@cv.sections.each do |s|
  %h3 #{s.header.capitalize}