%h1 #{@user.first_name.capitalize} #{@user.middle_initial.capitalize}. #{@user.last_name.capitalize}

%address{id: @user.address.name }
  = succeed ',' do
    %span#city #{@user.city}
  %span#state #{@user.state}
  %ul{class: "inline"}
    %strong contact information: 
    %li
      %span#email
        =link_to "email", "mailto:#{@user.contact_email}"
    %li
      %span#linkedin
        =link_to "linkedin", "http://www.linkedin.com/in/#{@user.linkedin}"
    %li
      %span#github
        =link_to "github", "http://www.github.com/#{@user.github}"
    %li
      %span#twitter
        =link_to "twitter", "http://www.twitter.com/#{@user.twitter}"
    %li 
      %span#website
        =link_to 'url', "http://#{@user.url}"

-@cv.sections.each do |s|
  %h3 #{s.header.capitalize}
  -if s.header == 'skills'
    %dl{class: "dl-horizontal"}
      -s.subsections.reverse.each do |ss|
        %dt #{ss.header}
        %dd
          -ss.items.reverse.each do |i|
            %span{id: i.id, class: 'skill'} #{i.description}