%h1 #{@user.first_name.capitalize} #{@user.last_name.capitalize}

%blockquote
  #{@user.city}, #{@user.state}
  #{@user.url}
  #{@user.linkedin}
  #{@user.github}

-@cv.sections.each do |s|
  %h3 #{s.header.capitalize}