=content_for :title do
  = t(:signin).capitalize

= simple_form_for(resource, :as => resource_name, 
                            :url => session_path(resource_name), 
                            :html => { :class => 'form-horizontal, navbar-form' }) do |f|
  .form-inputs
    = f.input_field :login, :required => true, :autofocus => true, :label => false, :placeholder => t(:login)
    = f.input_field :password, :required => true, :label => false, :placeholder => t(:password)
    = f.button :submit, "Sign in", :class => 'btn'
  .form-actions
= render "devise/shared/links"
