-if authentication_signed_in?
  = current_authentication.email
  %a.btn{:href => signout_path}
    = t(:signout)
-else
  = simple_form_for(:authentication, 
                  :url => session_path("authentication"), 
                  :html => { :class => 'form-horizontal, navbar-form' }) do |f|
    .form-inputs
      = f.input_field :email, :required => true, :autofocus => true, :label => false,
                      :placeholder => t(:email), :style => 'width: 175px'
      = f.input_field :password, :required => true, :label => false, 
                      :placeholder => t(:password), :style => 'width: 175px'
      = f.button :submit, t(:signin).capitalize, :class => "btn"
      = f.button :submit, t(:signup).capitalize, :class => "btn"
